body {
     font-family: 'Verdana', sans-serif;
   }
.chart{
  width:1200px;
  height:800px;
}
.input{
  stroke:black;
  fill: none;
}
.text{
  stroke:none;
  fill:black;
}
.node{
  stroke:blue;
  fill:yellow;
}
.arrow{
  stroke-width:2;
  stroke:#000;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
